body{
    font-family: sans-serif;
    text-transform: uppercase;
}
#blue-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 1200px;
    background-color: #0085CA;
}
#blue-box > #yellow-circle{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: #FFD100;
}